/* 重置body的默认样式，移除外边距和内边距，但为了给导航栏预留空间，设置顶部外边距 */
body{
    margin:0px;
    margin-top: 80px; /* 调整导航栏顶部外边距，防止页面内容被导航栏遮住*/
    padding: 0px;
}


/* 导航栏样式，使用弹性布局，固定在页面顶部，全宽，深色背景，自动溢出 */
nav{
    display: flex;
    position: fixed;
    top:0;
    width: 100%;
    background-color: rgb(51, 51, 51);

    height: 80px; /* 调整导航栏的高度 */

    

}


/* 左侧链接容器，使用flex布局，最小宽度为200px */
.left-links{
    flex:1 1 200px;
}


/* 导航链接样式，使用内联块状元素，居中对齐，无下划线，特定字体和颜色，并设置line-height以垂直居中文本 */
.links {
    display: inline-block;
    text-align: center;
    padding: 16px;
    color: rgb(236, 236, 236);
    text-decoration: none;
    font-size: 20px; 
    font-family: "Microsoft YaHei";
    line-height: 48px; 

}


/* 链接鼠标悬停效果，下边框 */
.links:hover {
    border-bottom: 2px solid rgb(145, 145, 145);
}


/* 当前选中的导航链接样式，下边框 */
.selected{
    border-bottom: 2px solid rgb(145, 145, 145);
}

/*---------------------------- 待办事项页面---------------------------------- */
.plan-text {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    
}

.container {
    display: flex; /* 使用Flexbox布局 */
    justify-content: space-between; /* 均匀分布剩余空间 */
}

.left-column,
.right-column {
    flex: 1; /* 等宽 */
    padding: 20px;
    box-sizing: border-box; /* 包含边框和内边距 */
}

.left-column {
    background-color: #f0f0f0; /* 左侧背景颜色 */
}

.right-column {
    background-color: #f0f0f0; /* 右侧背景颜色 */
}